@charset 'utf-8';

/*general styling*/
html {
  font-size: 100%;
}
body {
  color: #555;
  font-family: sans-serif;
}

/*comoon*/
p,td {
  line-height: 1.7;
}
li {
  list-style: none;
}

/*heding*/
.title {
  font-family: 'Sawarabi Mincho', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.title::after {
  content: '';
  display: block;
  height: 5px;
  width: 10rem;
  background: #d0bea2;
  margin: 2rem 0 2.5rem;
}
.title-center {
  text-align: center;
}
.title-center::after {
  margin: 2.5rem auto;
}


/*layout*/
.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
main {
  max-width: 900px;
  width: 94%;
  margin: 6.25rem auto;
  padding: 3rem 2rem;
  background: #fff;
  box-shadow: 0 0 6px rgba(0,0,0,.2); 
}
.text-center {
  text-align: center;
}
.mb2rem {
  margin-bottom: 2rem;
}

/*button*/
.btn {
  font-family: 'Sawarabi Mincho', sans-serif;
  display: inline-block;
  padding: 1.25rem 3.25rem;
  font-size: 1.375rem;
  text-align: center;
  width: 100%;
}
.btn-primary {
  color: #fff;
  background: #2d3374;
}
.btn-primary:hover {
  background: #3a7edf;
}
.btn-secondary {
  color: #555;
  background: #d0bea2;
}
.btn-secondary:hover {
  background: #d9cebe;
}

@media (min-width: 768px) {
  /*comoon*/
  main {
    padding: 5rem;
  }
  .btn {
    width: auto;
  }
  .title {
    font-size: 1.875rem;
  }

}
@media (min-width: 1024px) {

}
@media (min-width: 1280px) {

}