/* ------------------ */
/* base */
/* ------------------ */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  letter-spacing: .05em;
  color: #171717;
  font-family: 'Noto Serif','Noto Serif JP', serif;
}
img {
  width: 100%;
  vertical-align: bottom;
}
.section-wrapper {
  padding: 100px 0 70px; /*70pxてどこ？*/
}
.section-title {
  max-width: 1000px;/*意味あやしい*/
  color: #282F35;
  font-size: 6rem;
  font-style: italic;
  margin: 0 auto 80px;
  padding: 0 20px;
}
.section-title::after {
  content: "";
  display: inline-block;
  background-color: #282F35;
  width: 200px;
  height: 5px;
  margin-left: 30px;
  vertical-align: middle;
}
.section-inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 50px;
}
.section-bottom {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 9rem;
  opacity: .05;
}
.btn {
  display: block;
  width: 235px;
  line-height: 60px;
  margin: 0 auto 70px;
  background-color: #F7D43F;
  box-decoration-break: 0 0 6px #1B1310;
  border-radius: 30px;
  text-align: center;
  color: #171717;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}
.btn:hover {
  opacity: .7;
  transition: .3s;
}
.text-right {
  text-align: right;
}
.text-white {
  color: #fff;
}
.section-title.text-white::after {
  background-color: #fff;
}
.sp-br {
  display: none;
}

@media screen and (max-width:768px){

  /* ------------------ */
  /* base_sp */
  /* ------------------ */

.section-wrapper {
  padding: 100px 0 40px;
}
.section-title {
  padding: 0 4vw;/*両サイド4vw入れておくと、376の端末の両サイド15pxタブレットで30px両サイドあくからオススメらしい*/
  font-size: 3rem;
  margin-bottom: 50px;
}
.section-title::after {
  width: 90px;
}
.section-inner {
  padding: 0 4vw;
}
.section-bottom {
  font-size: 4rem;
  padding: 0 4vw;
}
.link-btn {
  margin-bottom: 40px;
}
.sp-br {
  display: block;
}
.pc-br {
  display: none;
}





}