@charset 'UTF-8';

/*
colors
-------------------*/
:root {
   --text: #333;
   --bg: #fff;
   --video-opacity: .5;
}

@media (prefers-colo-scheme: dark) {
  :root {
    --text: #ddd;
    --bg: #000;
    --video-opacity: .7;
  }
}

/*
general　styling*/

html {
  font-size: 100%;
}
body {
  color: var(--text);
  background: var(--bg);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: .5;
}

/*
common*/

p {
  line-height: 1.7;
}
img {
  max-width: 100%;
}
a:hover {
  color: #0bd;
}

/*
header*/
header {
  position: relative;
  margin-bottom: 5rem;
}
.header-text {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  text-align: center;
  font-family: 'Hind', sans-serif;
}
.header-title {
  font-size: 2.5rem;
}
.header-name {
  font-size: 5rem;
}
.header-link {
  font-size: 1.2rem;
}

.header-pattern {
  position: absolute;
  z-index: 1;
  background-size: auto auto;
  background-image: repeating-linear-gradient(0deg, transparent, transparent 2px, var(--bg) 2px, var(--bg) 4px );
}
header video {
  object-fit: cover;
  object-position: center top;
  opacity: var(--video-opacity);
}
.header-text,
.header-pattern,
header video {
  width: 100%;
  height: 90vh;
}

/*
grid*/

.grid {
  display: grid;
  width: 94vw;
  margin: 0 auto 3vw;
  gap: 2vw;
  grid-template-columns: repeat(2,46vw);
  grid-template-rows: repeat(12,46vw);
}
.grid-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%);
}
.grid-big-top {
  grid-column: 1/3;
  grid-row: 2/3;
}
.grid-big-middle {
  grid-column: 1/3;
  grid-row: 4/5;
}
.grid-big-bottom {
  grid-column: 1/3;
  grid-row: 8/9;
}
.kaiten {
  transform: rotate(90deg)
  }

/*
footer*/
footer {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 3rem;
}

/*LIGHTBOX*/
.lum-lightbox.lum-open {
  z-index: 4;
}
.lum-lightbox.lum-inner img {
  max-width: 120vw;
  max-height: 80vh;
}


/*
desktop size*/
@media(min-width: 600px) {
/*header*/
  h1 {
    background-image: linear-gradient(transparent 50%,#f0e68c 50%);
    padding-bottom: .25rem;
  }

  /*grid*/

  .grid {
    width: 80vw;
    gap: 1vw;
    grid-template-columns: repeat(3,26vw);
    grid-template-rows: repeat(8,26vw);
  }
  .grid-big-middle {
    grid-column: 2/4;
    grid-row: 4/5;
  }
  .grid-big-bottom {
    grid-column: 1/3;
    grid-row: 6/7;
  }
  .grid-item {
    transition: .3s;
  }
  .grid-item:hover {
    filter: grayscale(0);
    box-shadow: 0 0 2rem rgba(0,0,0,.5);
    transform: scale(1.1);
    z-index: 3;
    position: relative;

  }
}
/*スマホでライトボックス見た時の調整*/
@media (max-width: 460px){
.lum-lightbox-inner img {
    max-width: 120vw;
    max-height: 80vh;
}
.lum-lightbox-inner .lum-lightbox-caption {
  margin: 0 auto;
  color: #fff;
  max-width: 700px;
  text-align: center;
}
.lum-lightbox-caption {
  width: 100%;
  position: absolute;
  bottom: 0;
}
}